@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');







body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../img/fondillo1.jpeg"); 

    /* Full height */
    height: 98%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-2%;
}
.backusuario { 
    /* The image used */
    background-image: url("../img/fondillo1.jpeg"); 

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-2%;
}

.hps{
     /* The image used */
     background-image: url("../img/helpdesk.jpeg"); 

     /* Full height */
     height: 100%; 
 
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     margin-top:-56%;
}

.saludo{
    font-size: 30px; 
    font-family: 'Audiowide', cursive;
    margin-left: 60%;
    margin-top: 6%;
    color: darkred;
    }

.sesion{
    font-family: 'Audiowide', cursive;
}

#holi{
    font-family: 'Audiowide', cursive;
    font-size: 15px;
}

#logo{
    margin-top:1%;
    position: absolute;
    margin-left: 85%;
}
.saludo2{
    font-size: 30px; 
    font-family: 'Audiowide', cursive;
    margin-left: 5%;
    margin-top: -3%;
    color: darkblue;
    }

#carrucel{
    width: 60%;
}
     
#adminletra{
    font-family: 'Syncopate', sans-serif;
    font-size: 10px;

}
#log{
    margin-top:-13%;
    position: absolute;
    margin-left: 85%;
}
#log1{
    margin-top:1%;
    position: absolute;
    margin-left:2%;
}

#carru{
    margin-top:15%;
    width: 60%;
}
.saludam{
    font-size: 30px; 
    font-family: 'Audiowide', cursive;
    margin-left: 34%;
    margin-top:-45%;
    color: darkred;
}

.hola1{
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 30px;
    margin-top:18%;
    margin-left:70%;
    color:black;
}

.holiwis{
    background-color: beige;
}


#title{
    font-family: 'Audiowide';
    color:darkred;
    text-align: center;
    font-family: 'Audiowide', cursive;
    margin-top: 1%;
    font-size: 25px;
}

#jeje{
    margin-left: 37%;
    width: 25%;
    margin-top: 0%;
}

#tablatickets{
    text-align: center;
}
#tablaticketse{
    text-align: center;
}

h2{
    text-align: center;
    color:darkred;
}
h3{
    text-align: center;
    color: darkred;
    font-family: 'Syncopate', sans-serif;

}
.letra_reportes{
    text-align: center;
    color: black;

}
.letra_historial{
    color: black;
    text-align: center;
}


.saludo2admin{
    font-size: 30px; 
    font-family: 'Audiowide', cursive;
    margin-left: 5%;
    margin-top: -3%;
    color: darkblue;
}

.saludoadmin{
    font-size: 30px; 
    font-family: 'Audiowide', cursive;
    margin-left: 60%;
    margin-top: 15%;
    color: darkred;
}

.nu{

    font-family: 'Poppins', sans-serif;
    color:white;
    font-size: 30px;
    margin-left:20%;
}

.cerrar_sesion{
    margin-left:86%;
    margin-top: 13%;
    
}
.cerrar_sesion_usuario{
    margin-left: 86%;
    margin-top: 3%;
    
}
.cerrar_sesion_usuariof{
    margin-left: 86%;
    margin-top: 3%;
    
}
.cerrar_sesion_usuariof_a{
    margin-left: 86%;
    margin-top: 0%;
    
}

#log_a{
    margin-top:-10%;
    position: absolute;
    margin-left: 85%;
}

#logito{
    
    position: relative;
}

.backpreguntas { 
    /* The image used */
    background-image: url("../img/pf1.jpeg"); 

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-2%;
}
/*no jalan*/
#modal{
    margin-left: 50%;
}

.encabezado{
    height: 100%; 
    margin-top:80%;
    position: relative;
}

#faqs{
    color:white;
    margin-top: 20%;
    
}

#faqs1{
    color: white;
    margin-left: -65%;
    margin-top: 15%;
    
}

.let_rep_esp{
    color: darkred; 

}

.copy{
    /*font-family: 'Zilla Slab Highlight', cursive;*/
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 40px;
    margin-top:47.5%;
    margin-left:40%;
    /*color:rgb(179, 178, 178);*/
    color:black;
}

.copy2{
    /*font-family: 'Zilla Slab Highlight', cursive;*/
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 40px;
    margin-top:47.5%;
    margin-left:35%;
    /*color:rgb(179, 178, 178);*/
    color:black;
}

